{% extends 'base.html' %}
{% load static %}

{% block titulopagina %} 
Autores - Edbooks
{% endblock %}

{% block contenidopagina %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            
            <!-- Seccion de libros-->
            <section class="bg-light py-5">
                <div class="container px-6">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                                Los autores son:
                                <ul class="list-group">
                                    {% for autor in autores %}
                                        <li class="list-group-item d-flex justify-content-between align-items-start"> 
                                            {{autor.nombre}} 
                                            <span class="badge bg-secondary rounded-pill">{{autor.nacionalidad}}</span>
                                        </li>
                                    {% endfor %}
                            </ul>
                            <a href="{% url 'crear_autor' %}">+ Agrega un nuevo autor</a>
                        </div>
                    </div>
                </div>
            </section>
            <br>
        </div>
        <br>
{% endblock %}