{% extends 'base.html' %}

{% block titulopagina %} 
Inicio - Edbooks
{% endblock %}

{% block contenidopagina %}

        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/media/books.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Ed-books Libreria online</h1>
                    <p>En esta pagina podras encontrar una base de datos de libros mundialmente reconocidos, te permitira agregar, editar y eliminar libros y autores de acuerdo a tus necesidades, de esta manera podras saber que libros has leido y que libros puedes leer!</p>
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'libros' %}"><i class="bi bi-book"></i> Biblioteca</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'login' %}"><i class="bi bi-book"></i> Biblioteca</a>
                    {% endif %}
                </div>
            </div>
            <!-- Call to Action-->
                    {% if user.is_authenticated %}
                    <div class="card text-white bg-secondary my-5 py-2 text-center">
                        <div class="card-body"><p class="text-white m-0"></p><a class="btn btn-primary" href="{% url 'libros' %}"></i> Comenzar a leer!</a></div>
                    </div>
                    {% else %}
                    <div class="card text-white bg-secondary my-5 py-2 text-center">
                        <div class="card-body"><p class="text-white m-0">Conviertete en lector!</p><a class="btn btn-primary" href="{% url 'register' %}"></i> Quiero ser lector</a></div>
                    </div>
                    {% endif %}
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Meditaciones</h2>
                            <h5 class="card-title">Marco Aurelio</h5> <br>
                            <p class="card-text">Obra literaria constituida por una serie de reflexiones del emperador Marco Aurelio, aparentemente fuera del tiempo y sin cronología. La obra, en doce tomos, es única en su género, y parece recorrer los últimos años de la vida interior de este emperador.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://es.wikipedia.org/wiki/Meditaciones" target="_blank">Wikipedia Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Miles de Millones</h2>
                            <h5 class="card-title">Carl Sagan</h5> 
                            <p class="card-text">Los diecinueve ensayos o capítulos que componen la obra brindan la visión de Sagan sobre temas que considera fundamentales «en la antesala del milenio», a través de su estilo habitual para explicar en términos asequibles las cuestiones científicas más complejas.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://es.wikipedia.org/wiki/Miles_de_millones" target="_blank">Wikipedia Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Juego de Tronos</h2>
                            <h5 class="card-title">George R. R. Martin</h5>
                            <p class="card-text">es una novela de fantasía escrita por el autor estadounidense George R. R. Martin en 1996 y ganadora del premio Locus a la mejor novela de fantasía en 1997. Se trata de la primera entrega de la serie de gran popularidad Canción de hielo y fuego.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://es.wikipedia.org/wiki/Juego_de_tronos" target="_blank">Wikipedia Info</a></div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}