{% extends 'base.html' %}
{% load static %}

{% block titulopagina %} 
Libros - Edbooks
{% endblock %}

{% block contenidopagina %}

<section class="bg-light py-5">
    <div class="container px-5">
        <h1>Libros en la base de datos:</h1>
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-12">
                <form class="d-flex my-2 my-lg-0" action="" method="post">
                    {% csrf_token %}
                    <input class="flex-grow-0 form-control mr-sm-2" type="search" name="search" placeholder="Buscar por titulo/autor" aria-label="Search">
                    <button class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> Buscar</button>
                    <a class="btn btn-outline-success text-nowrap ms-3 my-2 my-sm-0" href="{% url 'crear_libro' %}"> <i class="bi bi-plus-lg"></i> Agregar libro: </a>
                    {% comment %}
                        {% url 'crear_libro' %}
                    {% endcomment %}
                </form>
            </div>
        </div>
        <br>
        <h4>Resultados
            {% if search %}
                para "{{busqueda}}":
            {% else %}
                totales:
            {% endif %}
        </h4>
        <br>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 table-responsive">
                <table class="table table-theme">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for libro in libros %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{libro.titulo}}</td>
                                <td>{{libro.autor}}</td>
                                <td>
                                    <a href="{% url 'libro_detail' libro.id %}" class="text-success badge badge-success text-decoration-none"> <i class= "bi bi-question-diamond"></i> Detalle</a>
                                    <a href="{% url 'editar_libro' libro.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
                                    <a href="{% url 'eliminar_libro' libro.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
                                    {% comment %}
                                        {% url 'editar_libro' libro.id %}
                                        {% url 'eliminar_libro' libro.id %}
                                    {% endcomment %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<br>
<div class="container px-5"><h1>Los libros mas leidos:</h1></div> <br>
            <!-- Content Row-->
        <div class="container px-4 px-lg-5">   
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body"><br>
                            <h2 class="card-title">Meditaciones</h2>
                            <h5 class="card-title">Marco Aurelio</h5> <br>
                            <p class="card-text">Obra literaria constituida por una serie de reflexiones del emperador Marco Aurelio, aparentemente fuera del tiempo y sin cronología. La obra, en doce tomos, es única en su género, y parece recorrer los últimos años de la vida interior de este emperador.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://es.wikipedia.org/wiki/Meditaciones" target="_blank">Wikipedia Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Miles de Millones</h2>
                            <h5 class="card-title">Carl Sagan</h5>
                            <p class="card-text">Los diecinueve ensayos o capítulos que componen la obra brindan la visión de Sagan sobre temas que considera fundamentales «en la antesala del milenio», a través de su estilo habitual para explicar en términos asequibles las cuestiones científicas más complejas.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://es.wikipedia.org/wiki/Miles_de_millones" target="_blank">Wikipedia Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Juego de Tronos</h2>
                            <h5 class="card-title">George R. R. Martin</h5>
                            <p class="card-text">es una novela de fantasía escrita por el autor estadounidense George R. R. Martin en 1996 y ganadora del premio Locus a la mejor novela de fantasía en 1997. Se trata de la primera entrega de la serie de gran popularidad Canción de hielo y fuego. </p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://es.wikipedia.org/wiki/Juego_de_tronos" target="_blank">Wikipedia Info</a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}